<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>SSHCure</title>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="css/base.css" rel="stylesheet">

            <script src="lib/jquery/jquery.min.js"></script>
            <script src="lib/flot/jquery.flot.min.js"></script>
            <script src="lib/flot/jquery.flot.stack.min.js"></script>
            <script src="lib/flot/jquery.flot.time.min.js"></script>
        {% endblock %}

        <script type="text/javascript">
            $(window).load(function () {
                {% block js %}
                    // Sidebar button handling
                    $('ul.nav-sidebar a').click(function (e) {
                        var sidebar_button_text = $(this).text();
                        var formatted_action = sidebar_button_text.toLowerCase().replace(" ", "_");

                        // Fetch head to include template includes
                        $('head').load("index.php?action=" + formatted_action + "&block=head", function () {
                            // Fetch main page body
                            $('div.main').load("index.php?action=" + formatted_action + "&block=main", function () {
                                if (formatted_action == "dashboard") {
                                    Dashboard = new Dashboard();
                                    Dashboard.initialize();
                                }
                            });
                        });

                        // Change URL in address bar without reload (i.e., ignore 'block')
                        window.history.replaceState({}, "SSHCure | " + sidebar_button_text, "index.php?action=" + formatted_action);

                        // Remove 'active' class from previously selected sidebar element
                        $('ul.nav-sidebar li').removeClass('active');

                        // Add 'active' class to currently selected sidebar element
                        var parent = $(this).parent();
                        if (!parent.hasClass('active')) {
                            parent.addClass('active');
                        }

                        e.preventDefault();
                    });

                    // Select 'Dashboard' in sidebar if nothing has been selected (i.e., when opening SSHCure)
                    if ($('ul.nav-sidebar li:active').length == 0) {
                        $('ul.nav-sidebar li a:contains(\"Dashboard\")').trigger('click');
                    }
                {% endblock %}
            });
        </script>
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <span id="logo" class="navbar-left navbar-brand"><a href="/"><img src="img/sshcure_logo.png" /></a></span>
                    <p id="logo-text" class="navbar-text">Flow-based intrusion detection for SSH</p>
                    <span id="inst-logo" class="navbar-right navbar-brand"><a href="http://www.utwente.nl"><img src="img/utwente_logo.png" /></a></span>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-1 sidebar">
                        <ul class="nav nav-sidebar upper">
                            <li><a href="/index.php?action=dashboard"><span class="glyphicon glyphicon-dashboard"></span>Dashboard</a></li>
                            <li><a href="/index.php?action=incoming"><span class="glyphicon glyphicon-exclamation-sign"></span>Incoming</a></li>
                            <li><a href="/index.php?action=outgoing"><span class="glyphicon glyphicon-screenshot"></span>Outgoing</a></li>
                            <li><a href="/index.php?action=hosts"><span class="glyphicon glyphicon-user"></span>Hosts</a></li>
                        </ul>
                        <ul class="nav nav-sidebar lower">
                            <li><a href="/index.php?action=search"><span class="glyphicon glyphicon-search"></span>Search</a></li>
                            <li><a href="/index.php?action=status"><span class="glyphicon glyphicon-stats"></span>Status</a></li>
                            <li><a href="/index.php?action=help"><span class="glyphicon glyphicon-question-sign"></span>Help</a></li>
                            <li><a href="/index.php?action=settings"><span class="glyphicon glyphicon-wrench"></span>Settings</a></li>
                        </ul>
                    </div>
                    <div id="main" class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-11 col-lg-offset-1">
                        {% block main %}
                        {% endblock %}
                    </div>
                </div> </div>
        {% endblock %}
    </body>
</html>
