{% extends "base.twig" %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div id="attacks" class="main-block">
                    <h1>Attacks</h1>
                    <div id="attacks-plot-header">
                        <div id=attacks-plot-legend style="float: left;"></div>
                        <div id=attacks-plot-selector style="float: right;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Day</button>
                                <button type="button" class="btn btn-default">Week</button>
                                <button type="button" class="btn btn-default">Month</button>
                            </div>
                        </div>
                    </div>
                    <div id="attacks-plot">
                        <div class="loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Loading...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div id="incoming-attacks" class="main-block table">
                    <h1>Incoming attacks</h1>
                    <div id="incoming-attacks-table" style="display: none;"></div>
                    <div class="loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Loading...</div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div id="top-targets-compromise" class="main-block table">
                    <h1>Top targets - <span class="text-compromise">Compromise<span></h1>
                    <div id="top-targets-compromise-table" style="display: none;"></div>
                    <div class="loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Loading...</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div id="outgoing-attacks" class="main-block table">
                    <h1>Outgoing attacks</h1>
                    <div id="outgoing-attacks-table" style="display: none;"></div>
                    <div class="loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Loading...</div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div id="top-targets-bruteforce" class="main-block table">
                    <h1>Top targets - <span class="text-bruteforce">Brute-force<span></h1>
                    <div id="top-targets-bruteforce-table" style="display: none;"></div>
                    <div class="loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Loading...</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
