{% extends "base.twig" %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div id="help" class="main-block">
                    <h1>About</h1>
                        <div id="about" class="ajaxContents">
                        <div class="segment">
                        <p><span class="name">SSHCure has been developed by:<br /><br />
                        Luuk Hendriks<br />
                        Rick Hofstede<br />
                        <span class=affiliation" style="font-style: italic;">University of Twente, The Netherlands</span>
                        </p>
                        </div>

                        <div class="segment">
                        <p>Visit the project page on <a href="https://github.com/sshcure/sshcure" target="_blank">GitHub</a>.</p>
                        </div>

                        <div class="segment" style="text-align:left;">
                        <p>Included third-party software:</p>
                        <ul>
                            <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> / Twitter</li>
                            <li><a href="http://www.flotcharts.org/" target="_blank">Flot</a> / IOLA and Ole Laursen</li>
                            <li><a href="http://jquery.com" target="_blank">jQuery</a></li>
                            <li><a href="https://github.com/balupton/jquery-scrollto/" target="_blank">jQuery ScrollTo</a> / Benjamin Lupton</li>
                        </ul>
                        </div>
                        <p>
                        <span class="version">Application version: v3.0</span>
                        </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
