{% extends "base.twig" %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div id="hosts" class="main-block">
                    <h1>Hosts</h1>
                    <p>Text...</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}