{% block main %}
    <div>
        <table id="overview-table">
            <tbody>
                <tr><td class="field-name left">IP address</td><td>{{ host }}</td><td class="field-name right">Domain name</td><td>{{ host-name }}</td></tr>
                <tr><td class="field-name left">Country</td><td>{{ country }}</td><td class="field-name right">City</td><td>{{ city }}</td></tr>
            </tbody>
        </table>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#attacks-target" role="tab" data-toggle="tab">Attacks targeting host</a></li>
        <li><a href="#attacks-attacker" role="tab" data-toggle="tab">Attacks by host</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="attacks-target">

        </div>
        <div class="tab-pane" id="attacks-attacker">

        </div>
    </div>
{% endblock %}