{% extends "base.twig" %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div id="incoming-attacks" class="main-block">
                    <h1>Incoming attacks</h1>
                    <div id="incoming-attacks-table" style="display: none;"></div>
                    <div class="loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Loading...</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div id="attack-details" class="main-block">
                    <h1>Attack details</h1>
                    <p>Text...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div id="targets" class="main-block">
                    <h1>Targets</h1>
                    <p>Text...</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
