{% extends "base.twig" %}

{% block page_title %}Outgoing{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div id="outgoing-attacks" class="main-block">
                    <h1>Outgoing attacks</h1>
                    <p>Text...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div id="attack-details" class="main-block">
                    <h1>Attack details</h1>
                    <p>Text...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div id="targets" class="main-block">
                    <h1>Targets</h1>
                    <p>Text...</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}