{% if results %}

<table class="list">
    <thead style="position: relative; display: block" >
        <tr>
            <td>IP address</td>
            <td>Attacker</td>
            <td>Target</td>
        </tr>
    </thead>
    <tbody style="display: block; overflow: auto; max-height: 500px;">
    {% for r in results %}
        <tr>
            <td><a class="ip-addr">{{ r.label }}</a></td>
            <td>{{ r.attacker_count }}</td>
            <td>{{ r.target_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% else %}

<div style="margin: 8px">
    <span class="notice">No search results</span>
</div>

{% endif %}
