{% extends "base.twig" %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div id="search" class="main-block">
                    <h1>Search</h1>
                    <form>
                        <div class="form-group search-form">
                            <input id="search-ip" class="form-control">
                            <button id="search-button" class="btn btn-default">Search IP address</button>
                        </div>
                    </form>
                </div>
                <div class="main-block">
                    <h1>Results</h1>
                    <div id="search-results-table">
                        <div style="padding: 11px">
                            <span class="notice">Search attacks based on an IP address</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
