
/* General */
* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 12pt;
}

.btn {
    font-size: 10pt;
}

/* Loading indicator */
.loading {
    text-align: center;
}
.loading span.glyphicon-refresh {
    margin-right: 5px;
}
.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(359deg);}
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(359deg);}
}

/* Page header */
div.navbar {
    background: linear-gradient(360deg, #dadada, white, #dadada);
    border-width: 0 0 6px 0;
    border-color: #be1517;
    border-radius: 0px;
    line-height: 80px;
    margin-bottom: 0pt;
    vertical-align: middle;
}

#logo {
    float: left;
    padding-left: 40px;
}

#logo img {
    height: 40px;
    width: auto;
}

#logo-text {
    float: left;
    color: #646464;
    padding-left: 40px;
    display: none;
}

/* Sidebar */

div.sidebar {
    display: none;
}
@media (min-width: 768px) {
    div.sidebar {
        background-color: #34363F;
        padding: 0;
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        top: 64pt;
        display: block;
        bottom: 0;
        z-index: 1000;
        left: 0;
    }
    #logo-text {
        display: block;
    }
}

ul.nav-sidebar a span {
    margin-right: 10px;
    font-size: 1.35em;
    vertical-align: middle;
}

div.sidebar a {
    color: #939393;
}

div.sidebar li a:focus {
    outline: 0;
}

div.sidebar li {
    border-top: 1px solid #4e505c;
    border-bottom: 1px solid #242730;
}

div.sidebar li.active a, div.sidebar li.active a:focus, div.sidebar li a:hover {
    background: linear-gradient(180deg, #33363f, #1d212d);
    color: #be1517;
}

div.sidebar ul.lower {
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
}

div.sidebar ul {
    border-bottom: 1px solid #4e505c;
}

/* Main */
div.main {
    background: #eee;
}

div.main-block {
    background-color: white;
}

div.main-block h1 {
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 2.5pt;
}

div.main-block > h1, div.main-block > div, div.main-block > p {
    padding: 8px;
}

