
/* General */

html {
    background: #eee;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 12pt;
}

table {
    text-align: center;
    width: 100%;
}

.btn {
    font-size: 10pt;
}

/* Loading indicator */
.loading {
    text-align: center;
}
.loading span.glyphicon-refresh {
    margin-right: 5px;
}
.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(359deg);}
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(359deg);}
}

/* Page header */
div.navbar {
    background: linear-gradient(180deg, white, #d3d3d3);
    border-width: 0 0 6px 0;
    border-color: #be1517;
    border-radius: 0px;
    margin-bottom: 0px;
    height: 100px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

#logo {
    float: left;
    padding-left: 40px;
}

#logo-text {
    float: left;
    color: #787878;
    font-size: 12px;
    padding-left: 40px;
    display: none; /* Only enabled in medium and large view */
}

/* Sidebar */
div.sidebar {
    display: none;
}
@media (min-width: 768px) {
    div.sidebar {
        background-color: #34363F;
        padding: 0;
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        top: 100px;
        display: block;
        bottom: 0;
        z-index: 1000;
        left: 0;
        min-height: 500px;
    }
    #logo-text {
        display: block;
    }
}

ul.nav-sidebar a span {
    margin-right: 10px;
    font-size: 1.35em;
    vertical-align: middle;
}

div.sidebar a {
    color: #939393;
    min-width: 150px;
}

div.sidebar li a:focus {
    outline: 0;
}

div.sidebar li {
    border-top: 1px solid #4e505c;
    border-bottom: 1px solid #242730;
}

div.sidebar li.active a, div.sidebar li.active a:focus, div.sidebar li a:hover {
    background: linear-gradient(180deg, #33363f, #1d212d);
    color: #be1517;
}

div.sidebar ul.lower {
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
    margin-bottom: 80px;
}

div.sidebar ul {
    border-bottom: 1px solid #4e505c;
}

/* Main */
div.main {
    background: #eee;
}

div.main-block {
    background-color: white;
}

div.main-block h1 {
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 2.5pt;
}

div.main-block > h1, div.main-block > div, div.main-block > p {
    padding: 8px;
}

/* Phases */
div.phases {
    margin: 0 auto;
    width: 60px;
}
div.phase {
    border: 1px solid #CFCFCF;
    float: left;
    margin: 0 2px 0 2px;
    height: 13px;
    width: 13px;
}

div.phase.scan.on {
    background-color: #1A96D4;
    border: 0px solid;
}

div.phase.bruteforce.on {
    background-color: #FA642D;
    border: 0px solid;
}

div.phase.compromise.on {
    background-color: #DC0008;
    border: 0px solid;
}
