
/* Attacks plot */
#attacks-plot {
    height: 250px;
    margin: 10px;
}

#attacks-plot-header {
    height: 40px;
    padding-right: 13px;
}

#attacks-plot-legend {
    margin-left: 20px;
    margin-top: 8px;
}

#attacks-plot-legend .legendColorBox > div {
    border: 0px solid !important;
}

#attacks-plot-legend .legendLabel span {
    font-size: 9pt;
    margin-left: 3px;
    margin-right: 10px;
}

#attacks-plot-legend tr {
    height: 20px;
}

/* Incoming attacks table */
#incoming-attacks-table span.glyphicon-flash, #outgoing-attacks-table span.glyphicon-flash {
    color: #be1517;
    font-size: 13pt;
}

/* Tables */
div.main-block.table table thead {
    background-color: #DDDDDD;
    color: #898989;
}
div.main-block div[id$='-table'] {
    padding: 0;
}
