
/* Incoming attacks plot */
#incoming-attacks-plot {
    height: 250px;
}

#incoming-attacks-plot-header {
    height: 40px;
    padding-right: 13px;
}

#incoming-attacks-plot-legend {
    margin-left: 20px;
    margin-top: 8px;
}
