
/* Overview table */
table#overview-table {
    font-size: 10pt;
    text-align: left;
}

table#overview-table td.field-name {
    font-weight: bold;
}

/* Navigation tabs */
.nav-tabs {
    margin-top: 15px;
}

.nav-tabs > li > a {
    border-radius: 0px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #D1D1D1;
    color: black;
}

.nav-tabs > li > a {
    border-color: #D1D1D1;
    border-width: 2px;
    color: #9C9C9C;
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align: center;
}

.tab-pane {
    background-color: #D1D1D1;
}

.tab-pane > table.list {
    background-color: white;
}

.tab-pane > table.list > thead {
    color: #9C9C9C;
}
